Repository ivolnistov/telegram-rutor-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        pass_filenames: false

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy src/telegram_rutor_bot
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^(alembic/|tests/)
        pass_filenames: false

      - id: pylint
        name: pylint
        entry: uv run pylint src/telegram_rutor_bot
        language: system
        types: [python]
        args: [--rcfile=pyproject.toml, --fail-under=9.9]
        exclude: ^(alembic/|tests/)
        pass_filenames: false

fix(web): make frontend assets mount conditional
  src/telegram_rutor_bot/web/app.py
Due: ruff-check, ruff-format, mypy, pylint

fix(frontend): handle undefined vote_average in Discovery
  frontend/src/pages/Discovery.tsx
Due: none

feat: migrate system searches to database and support dynamic year variables
  frontend/src/api.ts
  frontend/src/pages/SettingsConfig.tsx
  src/telegram_rutor_bot/db/searches.py
  src/telegram_rutor_bot/tasks/jobs.py
  src/telegram_rutor_bot/web/config_api.py
Due: ruff-check, ruff-format, mypy, pylint

chore: remove custom qbittorrent build and rename script
  CLAUDE.md
  deploy/docker-compose.yml
  docker-compose-dev.yml
  docker-compose-test.yml
  docker-compose.yml
  docker/qbittorrent/Dockerfile
  docker/qbittorrent/plex_rename.sh
  docker/qbittorrent/setup.sh
Due: none

fix: restore user-modified qbittorrent rename script and custom root build
  deploy/docker-compose.yml
  docker-compose-dev.yml
  docker-compose-test.yml
  docker/qbittorrent/Dockerfile
  docker/qbittorrent/plex_rename.sh
  docker/qbittorrent/setup.sh
Due: none

feat: default plex rename script to false and require explicit ENABLE_PLEX_RENAME
  deploy/docker-compose.yml
  docker-compose-dev.yml
  docker-compose-test.yml
  docker-compose.yml
  docker/qbittorrent/plex_rename.sh
  docker/qbittorrent/setup.sh
Due: none

feat: whitelist local subnets in qbittorrent webui to prevent docker ip bans
  docker/qbittorrent/setup.sh
Due: none

feat: handle series deduplication and category settings for searches
  alembic/versions/116051d30fa5_add_is_series_to_searches.py
  docker/qbittorrent/Dockerfile
  docker/qbittorrent/plex_rename.sh
  docker/qbittorrent/setup.sh
  frontend/src/api.ts
  frontend/src/components/ui/Checkbox.tsx
  frontend/src/pages/SettingsConfig.tsx
  src/telegram_rutor_bot/config.py
  src/telegram_rutor_bot/db/models.py
  src/telegram_rutor_bot/rutor/parser.py
  src/telegram_rutor_bot/services/monitor.py
  src/telegram_rutor_bot/web/config_api.py
Due: ruff-check, ruff-format, mypy, pylint

fix: add build context to root docker-compose for qbittorrent
  docker-compose.yml
  docker/qbittorrent/Dockerfile
  docker/qbittorrent/plex_rename.sh
  src/telegram_rutor_bot/web/config_api.py
Due: ruff-check, ruff-format, mypy, pylint

fix: bypass qBittorrent auth login if IP is whitelisted, update docker-compose build context, and add missing translations
  docker/qbittorrent/plex_rename.sh
  docker/qbittorrent/setup.sh
  frontend/src/locales/en.json
  src/telegram_rutor_bot/torrent_clients/qbittorrent.py
Due: ruff-check, ruff-format, mypy, pylint

chore: remove temporary deployment tarballs and ignore them
  .gitignore
Due: none

ci: add trufflehog secret scanner workflow
  .github/workflows/trufflehog.yml
Due: none

fix(ci): resolve pylint singleton comparisons and trufflehog config
  .github/workflows/trufflehog.yml
  src/telegram_rutor_bot/tasks/jobs.py
Due: ruff-check, ruff-format, mypy, pylint

fix(ci): allowlist tmdb key in plex script from gitleaks
  docker/qbittorrent/plex_rename.sh
  tests/unit/test_parser.py
Due: ruff-check, ruff-format

fix(ci): combine multiple workflows into a single pipeline and fix test failure
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/lint.yml
  .github/workflows/pipeline.yml
  .github/workflows/trufflehog.yml
Due: none

fix(rutor): restore download link in formatted torrent message
  src/telegram_rutor_bot/rutor/formatter.py
  src/telegram_rutor_bot/rutor/parser.py
Due: ruff-check, ruff-format, mypy, pylint

ci: run docker build only on test branch or version tags
  .github/workflows/pipeline.yml
Due: none

test(rutor): fix assertions for real torrent parsing
  tests/integration/test_parser_real.py
Due: ruff-check, ruff-format

fix(security): resolve SonarCloud vulnerabilities
  CLAUDE.md
  deploy/docker-compose.yml
  docker-compose-dev.yml
  docker-compose-test.yml
  docker-compose.yml
  docs/installation.md
  src/telegram_rutor_bot/clients/tmdb.py
  src/telegram_rutor_bot/web/app.py
Due: ruff-check, ruff-format, mypy, pylint

fix: resolve test failures, lint and formatting issues
  frontend/public/wizard.html
  frontend/src/components/shared/CronScheduler.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/pages/Discovery.tsx
  frontend/src/pages/SettingsConfig.tsx
  frontend/src/pages/SettingsUsers.tsx
  src/telegram_rutor_bot/db/database.py
  tests/unit/test_app_comprehensive.py
  tests/unit/test_app_extra_final.py
  tests/unit/test_app_final.py
  tests/unit/test_app_gets.py
  tests/unit/test_app_simple_final.py
  tests/unit/test_cache.py
  tests/unit/test_config_api_extended.py
  tests/unit/test_config_api_final.py
  tests/unit/test_config_listener_full.py
  tests/unit/test_database_full.py
  tests/unit/test_db_database_final.py
  tests/unit/test_discovery_api_full.py
  tests/unit/test_main_comprehensive.py
  tests/unit/test_parse_rutor_flow.py
  tests/unit/test_parser_core.py
  tests/unit/test_parser_extended.py
  tests/unit/test_parser_internal_extended.py
  tests/unit/test_parser_internals_v2.py
  tests/unit/test_parser_mega.py
  tests/unit/test_rutor_utils.py
  tests/unit/test_search_handlers_full.py
  tests/unit/test_web_app_new.py
Due: ruff-check, ruff-format, mypy, pylint

fix(ci): pin ruff<0.15, commit uv.lock, fix CI test failures
  .github/workflows/pipeline.yml
  .gitignore
  pyproject.toml
  tests/unit/test_config_api.py
  tests/unit/test_parse_rutor_flow.py
  uv.lock
Due: ruff-check, ruff-format

feat: add Searches page with Run Now button and notify toggle
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/pages/Discovery.tsx
  frontend/src/pages/Searches.tsx
  frontend/src/router.tsx
  src/telegram_rutor_bot/web/app.py
Due: ruff-check, ruff-format, mypy, pylint

feat: per-search filters, search CRUD modal, fix tasks and category UI
  .gitignore
  alembic/versions/a2f87a7c001a_add_per_search_quality_and_translation_.py
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/pages/Searches.tsx
  frontend/src/pages/SettingsCategory.tsx
  frontend/src/pages/SettingsConfig.tsx
  frontend/src/pages/SettingsSearches.tsx
  frontend/src/pages/SettingsUsers.tsx
  frontend/src/pages/Tasks.tsx
  frontend/src/router.tsx
  frontend/src/types.ts
  src/telegram_rutor_bot/db/models.py
  src/telegram_rutor_bot/db/searches.py
  src/telegram_rutor_bot/rutor/parser.py
  src/telegram_rutor_bot/schemas.py
  src/telegram_rutor_bot/tasks/jobs.py
  src/telegram_rutor_bot/web/app.py
  src/telegram_rutor_bot/web/config_api.py
Due: ruff-check, ruff-format, mypy, pylint

feat: add TV series episode parsing and is_series support
  alembic/versions/920906cdff50_add_season_and_episode_to_torrents.py
  frontend/src/api.ts
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/pages/SettingsSearches.tsx
  frontend/src/types.ts
  src/telegram_rutor_bot/db/models.py
  src/telegram_rutor_bot/db/searches.py
  src/telegram_rutor_bot/db/torrents.py
  src/telegram_rutor_bot/rutor/parser.py
  src/telegram_rutor_bot/schemas.py
  src/telegram_rutor_bot/tasks/jobs.py
  src/telegram_rutor_bot/utils/episode_parser.py
  src/telegram_rutor_bot/web/app.py
  tests/unit/test_episode_parser.py
Due: ruff-check, ruff-format, mypy, pylint

fix: handle absolute poster URLs in Discovery page
  frontend/src/pages/Discovery.tsx
Due: none

fix: only notify about films with genuinely new torrents
  src/telegram_rutor_bot/rutor/parser.py
Due: ruff-check, ruff-format, mypy, pylint

chore: add workspace file with consolidated tasks and sidebar whitelist
  .vscode/settings.json
  .vscode/tasks.json
  telegram-rutor-bot.code-workspace
Due: none

feat: library pagination, torrent search with count, downloaded badge
  .agents/workflows/db-create-migration.md
  .agents/workflows/db-migrate.md
  .agents/workflows/full-dev.md
  frontend/src/api.ts
  frontend/src/pages/Library.tsx
  frontend/src/types.ts
  src/telegram_rutor_bot/db/__init__.py
  src/telegram_rutor_bot/db/torrents.py
  src/telegram_rutor_bot/schemas.py
  src/telegram_rutor_bot/web/app.py
  tests/unit/test_app_gets.py
  tests/unit/test_app_simple_final.py
  tests/unit/test_web_app_new.py
Due: ruff-check, ruff-format, mypy, pylint

fix(db): parametrize films search and use postgres-compatible SQL
  src/telegram_rutor_bot/db/films.py
  src/telegram_rutor_bot/handlers/torrents.py
Due: ruff-check, ruff-format, mypy, pylint

feat(discovery): TMDB-driven film cards, /discovery command, configurable sort
  alembic/versions/c4a8f0d2e7b1_add_torrent_sort_keywords.py
  frontend/src/api.ts
  frontend/src/components/ui/Tooltip.tsx
  frontend/src/locales/en.json
  frontend/src/pages/Discovery.tsx
  frontend/src/pages/SettingsConfig.tsx
  frontend/src/types.ts
  src/telegram_rutor_bot/api/routes/discovery.py
  src/telegram_rutor_bot/config.py
  src/telegram_rutor_bot/config_listener.py
  src/telegram_rutor_bot/db/models.py
  src/telegram_rutor_bot/handlers/__init__.py
  src/telegram_rutor_bot/handlers/discovery.py
  src/telegram_rutor_bot/helpers.py
  src/telegram_rutor_bot/main.py
  src/telegram_rutor_bot/rutor/formatter.py
  src/telegram_rutor_bot/rutor/parser.py
  src/telegram_rutor_bot/schemas.py
  src/telegram_rutor_bot/services/monitor.py
  src/telegram_rutor_bot/tasks/jobs.py
  src/telegram_rutor_bot/utils/i18n.py
  src/telegram_rutor_bot/utils/telegram.py
  src/telegram_rutor_bot/web/config_api.py
Due: ruff-check, ruff-format, mypy, pylint

chore(types): replace stray Any with Torrent/Tag in helpers + parser
  frontend/src/pages/Discovery.tsx
  src/telegram_rutor_bot/helpers.py
  src/telegram_rutor_bot/rutor/parser.py
Due: ruff-check, ruff-format, mypy, pylint

chore(lint): dedupe pylint and ruff so we only suppress once
  .pre-commit-config.yaml
  pyproject.toml
  src/telegram_rutor_bot/handlers/discovery.py
  src/telegram_rutor_bot/helpers.py
  src/telegram_rutor_bot/rutor/parser.py
Due: ruff-check, ruff-format, mypy, pylint

refactor(parser): hoist TmdbMatcher import to module top
  src/telegram_rutor_bot/rutor/parser.py
Due: ruff-check, ruff-format, mypy, pylint

fix(tests): align stale tests with renamed/extended discovery API
  tests/unit/test_api_discovery.py
  tests/unit/test_helpers_final.py
Due: ruff-check, ruff-format

chore(lint): dedupe pylint and ruff so we only suppress once (#5)
  .pre-commit-config.yaml
  pyproject.toml
  src/telegram_rutor_bot/handlers/discovery.py
  src/telegram_rutor_bot/helpers.py
  src/telegram_rutor_bot/rutor/parser.py
  tests/unit/test_api_discovery.py
  tests/unit/test_helpers_final.py
Due: ruff-check, ruff-format, mypy, pylint

1.2.0
  CHANGELOG.md
Due: none

chore: bump in-tree version to 1.2.0 to match tag
  pyproject.toml
  uv.lock
Due: none
