Repository ivolnistov/telegram-rutor-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        pass_filenames: false

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy src/telegram_rutor_bot
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^(alembic/|tests/)
        pass_filenames: false

      - id: pylint
        name: pylint
        entry: uv run pylint src/telegram_rutor_bot
        language: system
        types: [python]
        args: [--rcfile=pyproject.toml, --fail-under=9.9]
        exclude: ^(alembic/|tests/)
        pass_filenames: false

ci: add ghcr build workflow
  .dockerignore
  .github/workflows/docker-publish.yml
Due: none

fix(lint): suppress broad-exception-caught in background tasks
  src/telegram_rutor_bot/tasks/jobs.py
Due: ruff-check, ruff-format, mypy, pylint

fix(lint): suppress remaining broad-exception-caught failures
  src/telegram_rutor_bot/config_listener.py
  src/telegram_rutor_bot/tasks/jobs.py
Due: ruff-check, ruff-format, mypy, pylint

ci: add automation (tests, coverage, releases)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

1.0.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix(tests): remove transmission tests
  tests/unit/test_torrent_clients.py
Due: ruff-check, ruff-format

1.0.1
  CHANGELOG.md
  pyproject.toml
Due: none

fix(tests): update get_torrent_info signature in tests
  tests/integration/test_parser_real.py
  tests/unit/test_parser.py
Due: ruff-check, ruff-format

config: mount Plex directory to qbittorrent downloads
  Dockerfile
  docker-compose.yml
Due: none

1.0.2
  CHANGELOG.md
  pyproject.toml
Due: none

config: use env var for downloads path
  .gitignore
  docker-compose.yml
Due: none

config: remove hardcoded qbittorrent password from env
  docker-compose.yml
Due: none

feat: Add pause and resume endpoints for downloads
  src/telegram_rutor_bot/web/app.py
Due: ruff-check, ruff-format, mypy, pylint

1.1.0
  CHANGELOG.md
  pyproject.toml
Due: none

CI: Enable Docker build for test branch
  .github/workflows/docker-publish.yml
Due: none

CI: Configure release and docker workflows
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
Due: none

CI: Sync workflow changes from release branch
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
Due: none

DevOps: Add docker-compose-test.yml for testing
  docker-compose-test.yml
Due: none

feat(docker): add multi-platform build support (amd64, arm64)
  .github/workflows/docker-publish.yml
Due: none

fix(db): add tmdb_session_id column to initial migration
  alembic/versions/e70d87ec09f0_initial_squashed.py
Due: ruff-check, ruff-format

fix: remove unused RutorClient import and initialization
  src/telegram_rutor_bot/services/monitor.py
Due: ruff-check, ruff-format, mypy, pylint

fix(api): use TorrentResponse schema for get_media_torrents endpoint
  src/telegram_rutor_bot/api/routes/discovery.py
Due: ruff-check, ruff-format, mypy, pylint

fix(api): use TorrentResponse for list_torrents endpoint return type
  src/telegram_rutor_bot/web/app.py
Due: ruff-check, ruff-format, mypy, pylint
