Repository ivolnistov/telegram-rutor-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        pass_filenames: false

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy src/telegram_rutor_bot
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^(alembic/|tests/)
        pass_filenames: false

      - id: pylint
        name: pylint
        entry: uv run pylint src/telegram_rutor_bot
        language: system
        types: [python]
        args: [--rcfile=pyproject.toml, --fail-under=9.9]
        exclude: ^(alembic/|tests/)
        pass_filenames: false

fix(web): make frontend assets mount conditional
  src/telegram_rutor_bot/web/app.py
Due: ruff-check, ruff-format, mypy, pylint

fix(docker): add frontend build stage to Dockerfile
  Dockerfile
Due: none

fix(frontend): handle undefined vote_average in Discovery
  frontend/src/pages/Discovery.tsx
Due: none

Refactor: Fix linters and cleanup
  alembic/versions/0a1d91ecaeb8_add_original_title_to_films.py
  docker-compose-test.yml
  frontend/src/api.ts
  frontend/src/locales/ru.json
  frontend/src/main.tsx
  frontend/src/pages/Discovery.tsx
  frontend/src/types.ts
  frontend/vite.config.ts
  locales/ru.json
  src/MARKER.txt
  src/telegram_rutor_bot/api/routes/discovery.py
  src/telegram_rutor_bot/db/films.py
  src/telegram_rutor_bot/db/models.py
  src/telegram_rutor_bot/db/torrents.py
  src/telegram_rutor_bot/handlers/search.py
  src/telegram_rutor_bot/handlers/torrents.py
  src/telegram_rutor_bot/main.py
  src/telegram_rutor_bot/rutor/parser.py
  src/telegram_rutor_bot/schemas.py
  src/telegram_rutor_bot/services/matcher.py
  src/telegram_rutor_bot/tasks/jobs.py
  src/telegram_rutor_bot/web/app.py
  tests/integration/test_parser_debug.py
  tests/integration/test_parser_integration.py
  tests/integration/test_parser_real.py
  tests/unit/test_parser.py
Due: ruff-check, ruff-format, mypy, pylint

feat: Add KP rating, country flags, and UI enhancements
  alembic/versions/752244946b3c_add_kp_rating.py
  docker-compose-dev.yml
  frontend/src/api.ts
  frontend/src/components/ui/Modal.tsx
  frontend/src/pages/Discovery.tsx
  frontend/src/types.ts
  src/telegram_rutor_bot/api/routes/discovery.py
  src/telegram_rutor_bot/clients/tmdb.py
  src/telegram_rutor_bot/db/films.py
  src/telegram_rutor_bot/db/models.py
  src/telegram_rutor_bot/rutor/parser.py
  src/telegram_rutor_bot/utils/country_mapper.py
  tests/integration/test_discovery_library.py
Due: ruff-check, ruff-format, mypy, pylint

fix(lint): replace != None with is_not(None) for sqlalchemy
  alembic/versions/6b81e83b7dd3_add_watchlist_fields_to_film.py
  alembic/versions/9de4f0e20117_add_notified_flag_to_film.py
  config.toml.example
  docker-compose.yml
  pyproject.toml
  src/telegram_rutor_bot/config.py
  src/telegram_rutor_bot/db/models.py
  src/telegram_rutor_bot/handlers/__init__.py
  src/telegram_rutor_bot/handlers/watchlist.py
  src/telegram_rutor_bot/main.py
  src/telegram_rutor_bot/services/search_manager.py
  src/telegram_rutor_bot/services/watchlist.py
  src/telegram_rutor_bot/tasks/jobs.py
  tests/unit/test_search_manager.py
  tests/unit/test_watchlist.py
Due: ruff-check, ruff-format, mypy, pylint

Refactor: Fix linters and cleanup
  frontend/src/pages/Discovery.tsx
Due: none

chore: fix linter errors and code quality issues
  .vscode/settings.json
  src/telegram_rutor_bot/db/config_ops.py
  src/telegram_rutor_bot/db/films.py
  src/telegram_rutor_bot/handlers/torrents.py
  src/telegram_rutor_bot/rutor/parser.py
  src/telegram_rutor_bot/tasks/jobs.py
Due: ruff-check, ruff-format, mypy, pylint

feat(docker): add multi-platform build support (amd64, arm64)
  .github/workflows/docker-publish.yml
Due: none

fix(api): use TorrentResponse for list_torrents endpoint return type
  src/telegram_rutor_bot/web/app.py
Due: ruff-check, ruff-format, mypy, pylint

fix(db): add tmdb_session_id column to initial migration
  alembic/versions/e70d87ec09f0_initial_squashed.py
Due: ruff-check, ruff-format

CI: Enable Docker build for test branch
  .github/workflows/docker-publish.yml
Due: none

DevOps: Add docker-compose-test.yml for testing
  docker-compose-test.yml
Due: none

CI: Sync workflow changes from release branch
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
Due: none

fix: remove unused RutorClient import and initialization
  src/telegram_rutor_bot/services/monitor.py
Due: ruff-check, ruff-format, mypy, pylint

fix(api): use TorrentResponse schema for get_media_torrents endpoint
  src/telegram_rutor_bot/api/routes/discovery.py
Due: ruff-check, ruff-format, mypy, pylint
